html, body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

select {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}