<div id="header">
    <div class="header-container">
        <div class="logo">
            <a routerLink="/home">
                <span>eu</span>nomia
            </a>
        </div>
    
        <ul class="menu">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/tax-explainer" routerLinkActive="active">Tax explainer</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</div>

<div class="page-container">
    <router-outlet></router-outlet>
</div>